{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx"
    ],
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "globals": {
    "document": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "ecmaVersion": 6
    }
  },
  "plugins": ["react", "promise", "import"]
}
