@use 'sass:color';
@import "~sass-rem";
@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.CharactersListPage {
  // height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // background-color: color.scale($color-3, $lightness: 0%);
  // margin-bottom: rem(100px);

  .CharactersListPage_loading {
    // height: 100%;
    // margin: auto auto;
    color: $color-1;
    font-weight: bold;
    font-size: rem(32px);
    font-family: $font-family-1;
  }

  .CharactersListPage_container {
    width: 100%;
    // padding: rem(50px 0);
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    background-color: color.scale($color-3, $lightness: 0%);
    // margin-bottom: rem(200px);
    padding-bottom: rem(200px);
  }

  .CharactersListPage_pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-4;
    color: $color-1;
    padding: rem(16px 0);
  }

  .CharactersListPage_pagination li {
    display: inline-block;
    margin: rem(0 2px);
    font-size: rem(22px);
  }

  .CharactersListPage_paginationActive a,
  .CharactersListPage_paginationDisabled a {
    &:hover {
      background-color: transparent !important;
    }
  }

  .CharactersListPage_pagination a {
    padding: rem(6px 6px);
    cursor: pointer;
    &:hover {
      background-color: $color-5;
    }
  }

  .CharactersListPage_paginationActive a {
    cursor: default;
  }

  .CharactersListPage_paginationActive {
    font-weight: bold;
  }

  .CharactersListPage_paginationActive a {
    font-weight: bold;
    border-bottom: rem(3px) solid $color-5;
  }

  .CharactersListPage_paginationDisabled a {
    cursor: default;
  }

  .CharactersListPage_filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: rem(30px 20px);
    background-color: $color-4;
    opacity: 0.95;
  }

  .CharactersListPage_filterFieldContainer {
    width: rem(450px);
    min-width: rem(200px);
    margin: rem(10px);
  }

  .CharactersListPage_filterFieldTitle {
    color: $color-1;
    font-weight: bold;
    font-size: rem(16px);
    margin-bottom: rem(10px);
  }

  .CharactersListPage_filterField {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: rem(4px);
    border: rem(1px) solid $color-1;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: rem(16px);
    margin: rem(0 20px);
  }

  .CharactersListPage_filterField___select {}

  .CharactersListPage_filterField___select::-ms-expand {
    display: none;
  }
  .CharactersListPage_filterField___select {
    display: inline-block;
    box-sizing: border-box;
    padding: rem(11px 20px 11px 20px);
    border: rem(1px) solid $color-1;
    line-height: inherit;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right rem(15px) top rem(10px), right rem(10px) top rem(10px);
    background-size: rem(5px 5px), rem(5px 5px);
  }
}
